#atelier3

<h1>List of Authors</h1>

{% set sum=0 %}
{% if  Authors is empty%}
    <h5>Tab vide</h5>
{% else %}
    <table border="1">
        <tr>
            <td>id</td>
            <td>username</td>
            <td>email</td>
            <td>nb_books</td>
            <td>Action</td>
        </tr>
        {% for a in Authors %}
            <tr>
                <td>{{ a.id }}</td>
                <td> {{ a.username|upper }}</td>
                <td> {{ a.email }}</td>
                <td>{{ a.nb_books }}</td>
                <td><a href="{{ path('app_contact') }}">Show Books +</a></td>
                {% set  sum = sum+a.nb_books %}
                <td><a href="{{ path('author_details', {'id': a.id}) }}">Details</a></td>
            </tr>

        {% endfor %}
    </table>
{% endif %}
<h3>Nb_Total_Authors: {{ Authors|length }}</h3>
<h3>Nb_Total_Books: {{ sum }}</h3>
<img src="{{ asset('imgs/symfonylive.jpg') }}" alt="symfonylive" width="100px" height="100px">